* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%; 
  box-sizing: border-box; 
  background-color: #23252E;
}

body {
  font-family: 'Inter', sans-serif; 
  display: flex;
}

#TelaInteira {
  background-color: #23252E;
  min-height: 100vh; 
  width: 100%;
  display: flex;
}

.img{
  size: 100px;
}

#subtitulo{
  position: relative;
  bottom: 20px;
}

.loginContainer {
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 80%;
  max-width: 1200px; 
  margin-left: 10%;
  background-color: #23252E;
}
  
.formularioLogin {
  color: white;
  background: #23252E;
  padding: 20px;
  border-radius: 8px;
}

.formularioLogin label {
  font-size: small;
}

.formularioLogin p {
  color: #72768B;
  font-size: small;
}

.formularioLogin a {
  color: #0AEACC;
  text-decoration: none;
}

.formularioLogin a:hover {
  color: #119684;
}
  
.formularioLogin h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
  
.formularioComponentes {
  margin-bottom: 15px;
}
  
.formularioComponentes label {
  position: relative;
  top: 5px;
  display: block;
  margin-bottom: 5px;
}
  
.formularioComponentes input {
  color: #ffffff;
  width: 100%;
  padding: 8px;
  padding-right: 30px; /* Add padding to the right to make space for the icon */
  box-sizing: border-box;
  background-color: #23252E;
  border: 1px solid #72768B; 
  border-radius: 5px;
  outline: none; 
}

.formularioComponentes input:focus {
  border-color: #0AEACC; 
  box-shadow: 0 0 5px rgba(10, 234, 204, 0.5); 
}
  
.inputIconContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIconContainer .icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #72768B;
}

.botaoLogin {
  width: 100%;
  padding: 10px;
  background-color: #0AEACC;
  color: #23252E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.botaoLogin:hover {
  background-color: #119684;
}

#esqueciSenha {
  margin-top: 5px;
  color: #72768B;
  text-align: center;
  font-size: small;
}

#esqueciSenha a {
  color: inherit;
}

#esqueciSenha a:hover {
  color: #9399b6;
}

#entreComOpcoes {
  position: relative;
  top: 20px;
  display: flex; 
  align-items: center; 
  text-align: center; 
  color: #72768B; 
}

.linha {
  flex: 2; 
  width: 150px;
  height: 1px; 
  background-color: #3B3E49; 
  margin: 0 10px; 
}

.botoesContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  top: 5px;
  gap: 20px;
}

.botaoGoogle, .botaoFacebook {
  padding: 10px 20px;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #23252E;
  border: 1px solid #72768B; 
  position: relative;
  top: 5px;
  width: 100%;
}

#Termos {
  position: relative;
  top: 20px;
  text-align: center;
}

.LoginImage {
  width: 60vw; 
  height: 40vw; 
  position: relative;
  background-color: #3B3E49;
  border-radius: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: auto; /* Align the image to the right */
}

.iconSenha {
  position: absolute;
  right: 10px; /* Position the icon on the right */
  cursor: pointer;
  color: #72768B;
}
